body{
  background-color: hsl(212, 45%, 89%);
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

img{
    width: 100%;
    border-radius: 10px;
}

.outer-container{
    width: 90%;
    display: flex;
    min-height: 569px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 15px grey;
}
.inner-container{
  /*no need to give it a height*/
  /* height: 70%; and width.It will limit it responsively */

  background-color: hsl(0, 0%, 100%);
  max-width: 300px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgb(128, 128, 128);

}
.inner-flex{

  padding: 20px ;
}
.paragraph-text{
    padding-bottom: 30px;
    color: grey;
    font-weight: 400;
}
p{
  text-align: center;
  font-size: 15px;
  font-family: "Outfit";
}
.heading-text{
  color: hsl(218, 44%, 22%);
  font-weight: 700;
  font-size: 20px;
}
